@import '../../../../styles/colors';
@import '../../../../styles/globals';

.filter {

  &.available-filter {
    &.applied {
      &:after,
      &:before {
        background-color: $c-green-400;
        height: 3px;
      }

      .filter-icon,
      .filter-label {
        color: $c-green-400;
      }
    }
  }

  &.reserved-filter {
    &.applied {
      &:after,
      &:before {
        background-color: $c-red-400;
        height: 3px;
      }

      .filter-icon,
      .filter-label {
        color: $c-red-400;
      }
    }
  }
}

