
// Grey
$c-grey-100: #f2f2f2;
$c-grey-200: rgb(162,162,162);
$c-grey-300: rgb(87,87,87);
$c-grey-400: #24292e;
$c-white: #ffffff;

// Red
$c-red-400: #F64747;
$c-red-500: #ff4343;

// Green
$c-green-400: #4dd354;
$c-green-500: rgb(104,159,56);

// Blue
$c-blue-400: #00BFFF;
$c-blue-500: rgb(25,118,210);
