@import '../../../../styles/globals';
@import '../../../../styles/colors';

.search-result-availability {
  position: absolute;
  right: 18px;
  top: 4px;
  font-size: 10px;
  color: $c-grey-200;
  font-weight: 100;
  transition: color 200ms ease;
}

@media screen and (max-width: $mq-width-large) {
  .search-result-availability {
    display: none;
  }
}
